h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    color:#557153;
    text-align: center;
    
}
strong{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px ridge #A9AF7E;
    position: fixed;
    top: 20px;
    right: 650px;
    color: #557153;
    background-color: #E6E5A3;
}
.center{
    margin-left: auto;
    margin-right: auto;
}

table,tr,td{
    border: 1px solid;
    overflow-wrap: break-word;
    background-color: #557153;
}

div{
    color:#557153;
    font-size: 20px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: #E8F3D6;
    overflow: hidden;
    width: 100%;
    
}
div.sol{
    background-color: #E6E5A3;
    width: 300px;
    height: 1000px;
    float: left;
    
}
div.sag{
    width: 568px;
    float: right;
    position: fixed;
    top: 80px;
    right: 650px;
    border: 2px ridge #A9AF7E;
    background-color: #E6E5A3;
}

