h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    color:#557153;
    text-align: center;  

}

strong{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px ridge #A9AF7E;
    position: fixed;
    top: 35%;
    left: auto;
    color: #557153;
    background-color: #E6E5A3;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

table,tr,td{
    border: 1px solid;
    overflow-wrap: break-word;
    background-color: #557153;
}

div{
    display: block;
    color: #557153;
    font-size: 20px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #E8F3D6;
    overflow: hidden;
    width: 100%;
    
}
div.sol{
    display: inline-block;
    background-color: #E6E5A3;
    width: 20%;
    height: auto; 
}

div.sag{
    display: inline-block;
    width: 100%;
    margin-right: 1%;
    position: fixed;
    top: 450px;
    left: auto;
    border: 2px ridge #A9AF7E;
    background-color: #E6E5A3;
}

header h1{
    display: block;
    color: #557153;
    border: 2px solid #557153;
    background-repeat: repeat;
    margin-right: 1%;
    padding: 5%;
    background-image: url("../images/header_photo.jpg");
}

footer {
    display: block;
    text-align: center;
    padding: 1%;
    margin-right: 1%;
    background-color: #557153;
    color: #E6E5A3;
  }

p{
    
}
